@keyframes change {
  0% {
    background: red;
  }
  20% {
    background: green;
  }
  60% {
    background: blue;
  }
  100% {
    background: black;
  }
}

#app4 .circle {
  border: 1px solid grey;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}
#app4 .circle.active {
  animation: change 2s infinite alternate linear;
}
